#maindiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    column-gap: 30px;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1%;
}
#leftdiv{
    width: 64%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 1.5%;
    column-gap: 20px;
}
#rightdiv{
flex-grow: 1;
    display: flex;
     justify-content: center;
    align-items: center; column-gap: 5px;

}
.imges{
    width: 60px;
    height: 60px;
}

#infodiv{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    row-gap: 9px;

}
.infodiv{
    display: flex;
    column-gap: 10px;
}
#photosnpbtn{
border: none;
color:hsl(180, 29%, 50%) ;
font-weight: 900;
background-color: white;
}
#newbtn{
background-color: hsl(180, 29%, 50%);
color: white;
border: none;
border-radius: 10px;
}
#featuredbtn{
    color: white;
    background-color: black;
    border-radius: 10px;
}
#medlab{
    font-size: 18px;
    font-weight: bolder;
}
.graylabs{
    color:  hsl(180, 14%, 20%);
}
.rightbtns{
    background-color: hsl(180, 31%, 95%);
    border:hsl(180, 31%, 95%) ;
    height:fit-content;
   
    color: hsl(180, 8%, 52%);
}